/* blue color - #004181 */

/* light-blue - #3ABFC4 */

/* Tag Selectors */

h2,
h3 {
    text-align: center;
}


body {
    font-family: 'Muli', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

p {
    margin-left: 25%;
    margin-right: 25%;
    color: darkgray;
}

header,
footer,
.results {
    color: #004181;
}

footer {
    margin-bottom: 20%;
}

p.name {
    text-align: right;
}

header {
    margin-bottom: 5%;
}

.results {
    margin-top: 5%;
    min-height: 25vw;
}

.password {
    text-align: center;
    font-size: 20px;
    color: darkgray;
}





/* Slider Formatting */

.sliderContainer {
    width: 100%;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    width: 50%;
}

.slider:focus {
    outline: none;
    /*removes outline on focus for Chrome*/
}




/* Render Settings for Mozilla FF */

.slider::-moz-range-track {
    height: 5px;
    background: #ddd;
    border-radius: 3px;
}

.slider::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: #004181;
    transition: background 0.2s ease-in-out;
}

.slider:hover::-moz-range-thumb {
    background: #005cb7;
}




/* Render Settings for Safari/Chrome */

.slider::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #004181;
    margin-top: -6px;
    transition: background 0.2s ease-in-out;
}

.slider:hover::-webkit-slider-thumb {
    background: #005cb7;
}




/* Column Formatting */

.row {
    width: 100%;
    display: table;

}

.column {
    display: table-cell;
    padding: 10px;
    height: 15vw;
}

.left,
.right {
    width: 50%;
}

.left {
    background-color: #3ABFC4;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    color: white;
}

.right {
    vertical-align: middle;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
    background-color: #004181;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    color: #3ABFC4;
}

.generateBtn {
    border: 2px solid white;
    background-color: #3ABFC4;
    border-radius: 10px;
    color: #004181;
    cursor: pointer;
    padding: 20px 30px;
    padding-right: 20px;
    box-shadow: 0 8px #ccc;
}

.generateBtn:hover {
    background-color: #42D7DD;
}

.generateBtn:active {
    background-color: #2A8F93;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

span {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
}



.downArrow {
    transform: rotate(90deg);
    font-size: 30px;
    padding-left: auto;
    padding-right: auto;
    display: inline-block;
}
